.grid30 {
    background-image: url("grid30.png");
}

.grid28 {
    background-image: url("grid28.png");
}

.grid26 {
    background-image: url("grid26.png");
}

.grid24 {
    background-image: url("grid24.png");
}

.grid22 {
    background-image: url("grid22.png");
}

.grid20 {
    background-image: url("grid20.png");
}

.grid18 {
    background-image: url("grid18.png");
}

.grid16 {
    background-image: url("grid16.png");
}

.grid14 {
    background-image: url("grid14.png");
}

.grid12 {
    background-image: url("grid12.png");
}

.grid10 {
    background-image: url("grid10.png");
}

.grid8 {
    background-image: url("grid8.png");
}

.grid6 {
    background-image: url("grid6.png");
}

.grid4 {
    background-image: url("grid4.png");
}